name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions: read-all

env:
  CARGO_TERM_COLOR: always

jobs:

  clippy:
    runs-on: ubuntu-latest
    name: clippy / ${{ matrix.toolchain }}
    permissions:
      contents: read
      checks: write
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable, beta]
    steps:
      - uses: actions/checkout@v3
      - name: Install ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@1f5cdb56c8779e3efa22473ce181ff83143b172c
        with:
          toolchain: ${{ matrix.toolchain }}
          components: clippy
      - name: cargo clippy
        uses: actions-rs/clippy-check@v1.0.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  test:
    runs-on: ubuntu-latest
    name: test / ubuntu / ${{ matrix.toolchain }}
    strategy:
      matrix:
        toolchain: [stable, nightly, beta]
    steps:
      - uses: actions/checkout@v3
      - name: Install ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@1f5cdb56c8779e3efa22473ce181ff83143b172c
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: cargo generate-lockfile
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile
      - name: cargo test --locked
        run: cargo test --locked --all-features

  test-no-default-features:
    runs-on: ubuntu-latest
    name: test (no default features) / ubuntu / ${{ matrix.toolchain }}
    strategy:
      matrix:
        toolchain: [stable, 1.59]
    steps:
      - uses: actions/checkout@v3
      - name: Install ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@1f5cdb56c8779e3efa22473ce181ff83143b172c
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: cargo generate-lockfile
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile
      - name: cargo test --locked
        run: cargo test --locked --no-default-features

  integration-test:
    runs-on: ubuntu-latest
    name: integration-test / ubuntu / ${{ matrix.toolchain }}
    strategy:
      matrix:
        toolchain: [stable, 1.59.0, nightly, beta]
    steps:
      - uses: actions/checkout@v3
      - name: Install ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@1f5cdb56c8779e3efa22473ce181ff83143b172c
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: cargo generate-lockfile
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile
      - name: run_integration_tests.sh
        run: /bin/bash ./run_integration_tests.sh

  doc:
    runs-on: ubuntu-latest
    name: doc / nightly
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Install nightly
        uses: dtolnay/rust-toolchain@1f5cdb56c8779e3efa22473ce181ff83143b172c
        with:
          toolchain: nightly
      - name: cargo doc
        run: cargo doc --no-deps --all-features
        env:
          RUSTDOCFLAGS: -D warnings
