name: Publish

on:
  release:
    types: [published]

permissions: read-all

env:
  CARGO_TERM_COLOR: always

jobs:
  publish_macros:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Publish release of googletest_macro
      env:
        CARGO_REGISTRY_TOKEN: ${{secrets.CARGO_REGISTRY_TOKEN}}
      run: cargo publish -p googletest_macro

  publish:

    needs: publish_macros
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Publish release of googletest
      env:
        CARGO_REGISTRY_TOKEN: ${{secrets.CARGO_REGISTRY_TOKEN}}
      run: cargo publish -p googletest
